* {
    box-sizing: border-box;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
}

.header {
    height: 90px;
    background: linear-gradient(to bottom right, rgb(163, 213, 163), rgb(39, 79, 42));
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.container-header {
    height: 100%;
}

.nav {
    height: 100%;
    padding: 0 50px 0 0;
}

.nav > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.list-link {
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 50%;
    padding: 15px;
    position: relative;
}

.section::after {
    content: "";
    width: 95%;
    height: 1px;
    background-color: #E1C5A5;
    display: block;
    position: absolute;
    bottom: 0;
}

.section-profile {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 30px 35px;
    border-bottom: 25px double #e1c5a5;
}

.avatar {
    border-radius: 40%;
    width: 180px;
    height: 210px;
}

.title-profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.section-mine-title {
    position: relative;
    padding: 0;
    margin-bottom: 20px;
    color: #274F2AFF;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 10px;
    line-height: 50px;
    word-spacing: 3px;
}

#rectangle {
    width: 330px;
    height: 2px;
    transform: translate(15px, 0);
    background: #A3D5A3FF;
}

.section-subtitle {
    margin-top: 20px;
    color: #e1c5a5;
    line-height: 50px;
    font-weight: 300;
    letter-spacing: 2px;
}

#contacts {
    margin: 0;
    /*width: calc(50% - 20px);*/
    /*border-bottom: 1px solid #e1c5a5;*/
}

.contacts-list {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    line-height: 1px;
    margin-top: 8px;
}

.contacts-item-text {
    margin-left: 0.25em;
}

.icon-svg {
    padding-left: 0;
    position: relative;
    padding: 0;
    margin-bottom: 20px;
    color: rgb(77, 35, 35);
    font-size: 16px;
    font-weight: 10;
}

.icon {
    width: 32px;
    height: 33px;
}


#mail {
    text-decoration: none;
    color: #A3D5A3FF;
}

#git {
    text-decoration: none;
    color: #A3D5A3FF;
}

@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}